<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    {% block head%}{%endblock%}
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include 'head/head.html'%}
<div class="container mt-4">
    {% block content%}{% endblock%}
</div>
{% include 'foter/foter.html'%}
<script src="https://cdv.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.bundle.min.js"></script>
</body>
</html>