{% extends 'parent/base.html'%}
{%block head%}{%endblock%}
{%block title%}{%endblock%}
{%block content%}
{% for i in order1%}
product:{{i.product}}<br>
quantity:{{i.quantity}}<br>
price:{{i.price}}<br>
status:{{i.order.status}}<br><br>
{%endfor%}
{% if messages%}
{% for i in messages%}
{{i}}
{%endfor%}
{%endif%}
<form method="POST" action="{% url 'orders:payment'%}">
    {%csrf_token%}
    <button type="submit" name="result" value="success" class="btn btn-info btn-sm">success pay</button><br>
    <button type="submit" name="result" value="failed" class="btn btn-info btn-sm"> failed pay</button>
</form>
{%endblock%}