{% extends 'parent/base.html'%}
{%block head%}{%endblock%}
{%block title%}{%endblock%}
{%block content%}
<div>
    {% for i in order_it%}
    phone:{{i.order.phone}}<br><br>
    product:{{i.product}}<br>
    quantity:{{i.quantity}}<br>
    price:{{i.price}}<br>
    status:{{i.order.status}}<br>
    <div class="d-flex gap-2">
    <form method="POST" action="{% url 'orders:remove' i.pk%}">
        {%csrf_token%}
        <button type="submit" name="remove" class="btn btn-info btn-sm">remove</button>
    </form>
    {%endfor%}
    {%if order_it%}
       <form  method='POST' action="{% url 'orders:final_order'%}">
    {%csrf_token%}
    <button type="submit" name="save" class="btn btn-info">final register</button>
</form>
    {%endif%}
        </div>
</div>
<a href="{% url 'cart:show_cart'%}" class="btn btn-danger">back</a>
{%endblock%}