<!--{% extends 'parent/base.html'%}-->
<!--{%block head%}{%endblock%}-->
<!--{%block title%}{%endblock%}-->
<!--{%block content%}-->
<!--<h1 style="color:red">Your order has been placed.</h1>-->
<!--<div>-->
<!--    user:{{order.user}}<br>-->
<!--    name:{{order.name}}<br>-->
<!--    phone:{{order.phone}}<br>-->
<!--    address:{{order.address}}<br>-->
<!--    status:{{order,status}}}<br>-->
<!--</div>-->
<!--<div>-->
<!--    {% for i in item%}<br>-->
<!--    name:{{i.product}}<br>-->
<!--    quantity:{{i.quantity}}<br>-->
<!--    price:{{i.product.price}}<br>-->
<!--    {%endfor%}-->
<!--</div>-->
<!--<a href="{%url 'cart:show_cart'%}">back</a>-->
<!--{% endblock%}-->