{% extends 'parent/base.html'%}
{%block head%}{%endblock%}
{%block title%}{%endblock%}
{%block content%}
<div>
{%for i in order1%}
name:{{i.order.name}}<br>
product:{{i.product}}<br>
price:{{i.price}}<br>
status:{{i.order.status}}<br><br>
{%endfor%}
 </div>
<div class="alert">
{%if messages%}
{% for i in messages%}
<meta http-equiv="refresh" content="2;url={% url 'first_app:product'%}">{{i}}
{%endfor%}
{%endif%}
</div>
<form method="GET" action="{% url 'orders:payment' %}">
    {%csrf_token%}
    <button type="submit" class="btn btn-danger btn-sm">back home</button>
</form>
{%endblock%}