{% extends 'one_temp/parent/base.html'%}
{% block head%}{%endblock%}
{% block title%}{%endblock%}
{%block content%}
{% if messages%}
{% for i in messages%}
{{i}}
{%endfor%}
{%endif%}
<form method="POST" class="col-md-6">
    {%csrf_token%}
    <label class="form-label"> username</label>
    <input type="text" name="username" class="form-control">
    <label class="form-label"> password</label>
    <input type="password" name="password" class="form-control">
    <button type="submit" class="btn btn-info">save</button>
</form>

{%endblock%}