{% extends 'parent/base.html'%}
{% block head%}{%endblock%}
{% block title%}{%endblock%}
{% block content%}
<h3>wishlist</h3><br>
{% for i in wish1%}
name:{{i.user}}<br>
product:{{i.product}}<br>
<img src="{{i.product.image.url}}"><br><br>
<form method="POST" action="{% url 'wishlist:remove' i.pk%}">
    {%csrf_token%}
    <button type="submit"  class="btn btn-primary btn-sm">remove wish</button><br><br>
</form>
{%endfor%}
{% for j in wish%}
name:{{j.product_name}}<br>
price:{{j.price}}<br>
<img src="{{j.image.url}}"><br>
<a href="{%url 'wishlist:remove' j.pk %}" class="btn btn-info btn-sm">remove</a><br><br>
{%endfor%}
<a href="{% url 'first_app:product'%}" class="btn btn-danger">back</a>
{%endblock%}