<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'first_app:product'%}"> my shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class=" nav-item">
                    <a class="nav-link" href="{% url 'first_app:product'%}">home</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="{%url 'first_app:contact'%}"> contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'first_app:log_out'%}"> logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'first_app:login'%}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'first_app:cooperation'%}"> invitation to cooperate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wishlist:wish_list'%}">wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders:final_order'%}">final_order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'orders:product_paid'%}">product_paid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart:show_cart'%}"> ShoppingCart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'first_app:sign_up'%}"> signUp</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


