{% extends 'parent/base.html'%}
{%block head%}
{%endblock%}
{%block title%}{%endblock%}
{%block content%}
   <div class="alert alert-danger">
    {% for i in detail_pro%}
    name:{{i.name}}<br>
    price:{{i.price}}<br>
    stock:{{i.product.stock}}<br>
   </div>
<kbd>comment</kbd>
    <div class="alert alert-primary">
        {% for j in comment2 %}
        {{j.name_user}}<br>
        {{j.comment_user}}
        {%endfor%}
        </div>
    <kbd>tag</kbd>
       <div class="alert alert-success">
    {%for k in product.tag.all%}
    {{k}}<br>
    {%endfor%}
    </div>
     <div class="d-flex gap-2">
    {% if product.stock > 0 %}
    <form method="GET" action="{% url 'cart:add' product.pk %}">
        {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-success">Add product to cart</button>
    </form><br>
    {%endif%}
    <form method="POST" action="{% url 'wishlist:add_wish' product.pk%}">
        {%csrf_token%}
        <button type="submit" class="btn btn-success btn-sm">add favourite product</button>
    </form>
         <a class="btn btn-success btn-sm" href="{% url 'first_app:comment' product.slug %}">comment</a>
        </div>
    {%endfor%}
{%endblock%}