{% extends 'one_temp/parent/base.html'%}
{% block head%}{%endblock%}
{% block title%}{%endblock%}
{%block content%}
<div class="col-md-6">
    <form method="POST" >
        {%csrf_token%}
        <label class="form-label">name</label>
        {{form.name.errors}}
        <input type="text" name="name" class="form-control" value="{{form.name.value|default:''}}">
        <label class="form-label">phone</label>
        {{form.phone.errors}}
        <input type="text" name="phone" class="form-control" maxlength="11" value="{{form.phone.value|default:''}}">
        <label class="form-label">address</label>
        <textarea class="form-control" name="address">{{form.address.value|default:''}}</textarea>
        <button type="submit" class="btn btn-info btn-sm mt-2">save</button>
    </form>
</div>
{%endblock%}