{% extends 'parent/base.html'%}
{% block head%}{%endblock%}
{% block title%}{%endblock%}
{%block content%}
{% if messages%}
        {% for message in messages%}
            {{message}}
        {%endfor%}
{%endif%}
{{form.errors}}
<form method="POST" >
    {%csrf_token%}
    <label class="form-label">username:</label>
    <input name="username" type="text" class="form-control"><br>
    <label class="form-label">password</label>
    <input type="password" name="password" maxlength="8" class="form-control"><br>
    <button type="submit" class="btn btn-primary btn-sm">save</button>
</form>

{%endblock%}