{% extends 'parent/base.html'%}
{% block head%}<h4 style="color:red;"> invitation to cooperate</h4>
<h4> Please fill out the form below.</h4>
{%endblock%}
{% block title%}Invitation to cooperate{%endblock%}%
{%block content%}
<div>
    {%if messages%}
    {% for i in messages%}
    <meta http-equiv="refresh" content="3;{% url 'first_app:cooperation'%}">{{i}}{%endfor%}
    {%endif%}
<form method="POST">
    {%csrf_token%}
    <label class="form-label">name:</label>
    <input type="text" name="name"  class="form-control"><br>
    <label class="form-label">phone:</label>
    <input type="text" name="phone" id="phone" maxlength="11" placeholder="phone number"  class="form-control"><br>
    <label class="form-label">email:</label>
    <input type="email" name="email"  class="form-control"><br>
    <label class="form-label">job_title:</label>
    <input type="text" name="job_title"  class="form-control"><br>
    <label class="form-label">description:</label>
    <input type="text" name="description"  class="form-control"><br>
    <button type="submit" class="btn btn-primary btn-sm" >save</button>
</form>
</div>
{%endblock%}